@using Car_Delivery_System.Models
@model  PartsViewModel

@{
    ViewBag.Title = "ManageParts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="page-title">
    <h3>Part Detail</h3>
    <div class="page-breadcrumb">
        <ol class="breadcrumb">
            <li><a href="~/Home/Index">Home</a></li>
            <li class="active">Manage Parts</li>
            <li class="active">Part Detail</li>
        </ol>
    </div>
</div>
<div id="main-wrapper">
    <div class="row">
        <div class="col-md-12">
            <button type="button" onclick="window.location= 'PartCreate'" class="btn btn-success btn-addon m-b-sm"><i class="fa fa-plus"></i>New</button>
            <div class="panel panel-white">
                <div class="panel-body">
                    <div class="table-responsive">
                        <table id="example" class="display table" style="width: 100%; cellspacing: 0;">
                            <thead>
                                <tr>
                                    <th>Description</th>
                                    <th>Quantity</th>
                                    <th>Unit price</th>
                                    <th>Car Model</th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tfoot>
                                <tr>
                                    <th>Description</th>
                                    <th>Quantity</th>
                                    <th>Unit price</th>
                                    <th>Car Model</th>
                                    <th></th>
                                </tr>
                            </tfoot>
                            <tbody>
                                @{
                                    foreach (var item in Model.listPart)
                                    {
                                        <tr>
                                            <td>@item.name</td>
                                            <td>@item.qty</td>
                                            <td>@item.unitprice</td>
                                            <th>@item.carmodel</th>
                                            <td align="center">
                                                <button type="button" class="btn btn-success" onclick="window.location= 'PartDetail/@item.Id'">Edit Part</button>
                                                <span>  </span>
                                                <button type="button" onclick="DeleteItem(@item.Id)" class="btn btn-danger">Delete</button>
                                            </td>
                                            @*<td><button type="button" class="btn btn-danger">Delete</button></td>*@
                                        </tr>
                                    }
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div><!-- Row -->
</div><!-- Main Wrapper -->

<script>
    function DeleteItem(id) {
                if (confirm("Are your sure ? ")) {
                    $.ajax({

                        type: 'POST',
                        url: '@Url.Action("DeletePart", "Warehouse")',
                        data : {
                         id : id
                        },
                        datatype: 'JSON',
                        success: function (Result) {
                            if (Result == "Success")
                            {
                                alert("The item has been deleted..");
                                window.location.reload();
                            }else {
                                alert(Result);
                            }
                        },
                        error: function (Msgerror) {
                            alert(Msgerror.responseText);
                        }


                    })
                }
            }
</script>